:root {--primary-color: #055a05; --accent1-color: #264653; --accent2-color: #e9c46a; --heading-font: "Times New Roman", "Georgia",serif; --body-font:Arial, Helvetica, sans-serif;}
header{background-color: white;color: var(--accent2-color);}
header img{width: 100px;}
* {margin: 0;padding: 0;box-sizing: border-box;}
body{font-family: var(--body-font);color: var(--accent1-color);background-color: lightgrey;}
header, main, footer{width: 840px;margin: 0 auto;}
h1, h2{font-family: var(--heading-font);color: var(--primary-color);}
nav, p, section, article{margin: 16px;padding: 8px;}
.socialmedia a {text-decoration: none;display: inline-block;margin: 0 10px;}
footer a{text-decoration: none;}
.socialmedia img{width: 28px; height: 28px; vertical-align: middle;margin: 0 10px;}
footer{text-align: center;padding: 20px 0;}
footer p{margin-bottom: 10px;}
.hero{position: relative;height: 500px;}
.hero img {display: block;width: 100%;height: 100%;}
h1{position: absolute;top: 20px;width: 100%;padding: 6px;text-align: center;opacity: 0.7;background-color: var(--accent1-color);color: white;}
.hero article{background-color: var(--accent1-color);position: absolute;bottom: 20px;left: 20px;padding: 15px;color: white;opacity: 0.7;}
.hero article img{width: 125px;float: right;}
.history h2{background-color:darkblue;color: white;text-align: center;}
.adventure h2{background-color: darkblue;color: white;text-align: center;}
