:root {--primary-color: #055a05; --accent1-color: #264653; --accent2-color: #e9c46a; --heading-font: "Times New Roman", "Georgia",serif; --body-font:Arial, Helvetica, sans-serif;}
header{background-color: #333333;color: var(--accent2-color);}
header img{width: 6.25rem;}
* {margin: 0;padding: 0;box-sizing: border-box;}
body{font-family: var(--body-font);color: var(--accent1-color);background-color: lightgrey;}
header, main, footer{width: 52.5rem;margin: 0 auto;}
h1, h2{font-family: var(--heading-font);color: var(--primary-color);}
nav, p, section, article{margin: 2rem;padding: 0.5rem;}
.socialmedia a {text-decoration: none;display: inline-block;margin: 0 0.625rem;}
footer a{text-decoration: none;}
.socialmedia img{width: 1.75rem; height: 1.75rem; vertical-align: middle;margin: 0 0.625rem;}
footer{text-align: center;padding: 1.25rem 0;}
footer p{margin-bottom: 10px;}
.hero{position: relative;height: 31.25rem;}
.hero img {display: block;width: 100%;height: 100%;}
h1{position: absolute;top: 1.25rem;width: 100%;padding: 0.375rem;text-align: center;opacity: 0.7;background-color: var(--accent1-color);color: white;}
.hero article{background-color: var(--accent1-color);position: absolute;bottom: 1.25rem;left: 1.25rem;padding: 0.9375rem;color: white;opacity: 0.7;}
.hero article img{width: 7.8125rem;float: right;}
.history h2{background-color:darkblue;color: white;text-align: center;margin-bottom: 1.25rem;}
.adventure h2{background-color: darkblue;color: white;text-align: center;margin-bottom: 1.25rem;}
.grid1{display: grid;}
.gridimage{grid-column: 1/2;align-items: center;margin-left: 7rem;}
.flex{grid-column: 2/3; }
nav ul{display: flex;align-items: center;justify-content: space-between;margin-right: 4rem;}
nav a{text-decoration: none;font-size: 1.2rem;font-weight: 700;}
.history-content{display: grid;grid-template-columns: 1fr auto 1fr;align-items: center;gap: 1.25rem;text-align: justify;}
.history-content img{width: 100%;max-width: 15.625rem;border-radius: 0.625rem;}
.adventure{text-align: center;padding: 2rem 4rem;}
.adventure-gallery{display: flex;gap: 1rem;justify-content: space-between;align-items: flex-start;flex-wrap: nowrap;max-width: 100%;}
.adventure-gallery figure{flex:1;box-shadow: 0 0.125rem 0.375rem rgba(0,0,0,0.1);overflow: hidden;border-radius: 0.625rem;text-align: center;}
.adventure-gallery figure:hover{transform: scale(1.05);}
.adventure-gallery img{width: 100%;height: 11.25rem;object-fit: cover;display: block;}
.adventure-gallery figcaption{padding: 0.5rem;background-color: #004aad;color: white;font-weight: 600;font-size: 0.9rem;}
.footer{display: flex;justify-content: space-between;align-items: center;padding: 0.625rem 1.25rem;position: relative;}
.footer-name{margin: 0;}
.socialmedia{margin-left: auto;display: flex;gap: 0.625rem;}

