* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --height: auto;
    --margin: auto;
}

nav {
    background-color: darkblue;
    padding: 10px;
}

nav a {
    color: white;
    display: block;
    padding: 20px;
}

h1 {
    color: darkblue;
}

main img {
    max-width: 100%;
    height: var(--height);
    display: block;
    margin: var(--margin);
    border: 1px solid black;
    padding: 2px;
    box-shadow: 0 0 30px gray;
}

p {
    padding: 0;
    line-height: 1.5;
    text-align: justify;
}

main {
    max-width: 840px;
}

aside {
    max-width: 100%;
    height: var(--height);
    display: block;
    position: relative;
    text-align: center;
}

aside img {
    width: 600px;
    height: auto;
}

aside h2 {
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%);
    background: rgba(red, green, blue, alpha);
    padding: 5px;
    font-size: 24px;
}

footer {
    margin-top: 15px;
    border-top: 1px solid #000;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Class selectors */
.box {
    margin: 1rem;
    border: 1px solid;
    padding: 1rem;
    background-color: #ddd;
    color: #000;
}

main img {
    position: absolute;
    right: 10px;
    top: 250px;
    max-width: 200px;
}
.container{display:flex;flex-direction: row;align-items: center;flex-wrap: wrap;}