nav {background-color: darkblue; padding: 10px;}
nav a {color: white; display: block; padding: 20px;}
h1 {color: darkblue;}
main img {width: 150px; height: auto;border: 1px solid black; padding: 2px; box-shadow: 0 0 30px gray;}

main {max-width: 840px;}
aside {width: 800PX; margin: 2px; border: 1px solid rgba(0 0 0/0.2); padding: 2px; background-color: lightgrey;color: black;}
aside img{width: 200px;height: auto; margin: 20px;}
p {padding: 0;}
footer {margin-top: 30px;border-top: dotted;text-align: center;}