.callout {max-width: 600px; margin: 10px; border: 1px; padding: 10px; background-color: darkblue; color: white;
	
}

.callout img {position: relative; float: right; top: -10px;margin: 1px; border: 2px  white; padding: 2px; background-color: beige; width: 100px; height: auto;
	
}

blockquote {margin: 10px;
	
}

cite {display: block; border-top: 1px dotted white;padding-top: 5px;text-align: right;font-size: 14px;
	
}